@use "./_variables" as v;

/* Reset mínimo e base tipográfica */
* { box-sizing: border-box; }
html, body { height: 100%; }
body {
  color: v.$color-text;
  background: v.$color-bg-dark;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a { color: inherit; text-decoration: none; }

/* Utilitários globais */
.shadow-glow { box-shadow: v.$shadow-glow; }