@use "./_variables" as v;

/* Reset mínimo e base tipográfica */
* { box-sizing: border-box; }
html, body { height: 100%; }
body {
  color: v.$color-text;
  background: v.$color-bg-dark;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a { color: inherit; text-decoration: none; }

/* Utilitários globais */
.shadow-glow { box-shadow: v.$shadow-glow; }
/* Somente para leitores de tela */
.sr-only {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}